<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="DefaultDataBase"
         connectionString="Data Source=sql5045.site4now.net; Initial Catalog=DB_A42815_jspot; User ID=DB_A42815_jspot_admin; Password=KQCIVTdJrliAnz2;Pooling=true;Connection Timeout=30"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Api Gateway -->
    <add key="ApiGateway" value="https://jspotgateway.ryuseicode.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Server Path -->
    <add key="ServerHostPath" value="h:\root\home\ricardosanchez-001\www\JspotGateway\Auth"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- JSpot Reference -->
    <add key="JSPOT::FrontEndURL" value="https://jspot.ryuseicode.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Storage -->
    <add key="STORAGE::RootPath" value="h:\root\home\ricardosanchez-001\www\storage\jspot"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
